.index {
    border: 2px solid black;
    height: 400px;
    width: 350px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.output{
    height: 150px;
    width: 350px;
}
.output p{
    font-size: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: red;
}
.input{
    height: 250px;
    width: 350px;
}
button{
    font-size: 20px;
    border: 2px solid black;
    margin: 30px;
}
button:hover{
    color: white;
    background-color: black;
    border-radius: 13px;
}